.entry-page-container {
    padding: 20px;
    .tags-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 10px;
        max-width: 600px;
        .tag {
            flex: 1 0 auto;
            margin: 10px;
            position: relative;
        }
    }
    .videos,
    .titles {
        margin: 20px 0;
        .button-add {
            .svg-icon {
                width: 20px;
                height:20px;
            }
        }
    }
    fieldset {
        margin: 20px 0 5px 0;
    }
    .select-field,
    .field-text {
        max-width: 300px;
    }
    .video-container,
    .title-container {
        position: relative;
        padding-right: 20px;
        max-width: 300px;
        .delete {
            position: absolute;
            top: 15px;
            right: 0;
            .svg-icon {
                width: 20px;
                height: 20px;
                color: $pomegranate;
            }
        }
    }
    .videos {
        counter-reset: number;
        .video-container {
            counter-increment: number;
            position: relative;
            &:before {
                position: absolute;
                left: -80px;
                top: 15px;
                content: "Серия " counter(number) ".";
            }
        }
    }
    .textarea {
        max-width: 600px;
    }
    .image-upload {
        margin: 10px 0;
    }
}