.entry-page-container {
    padding: 20px;
    .tags-container {
        .tag {
            margin: 0 10px;
        }
    }
    fieldset {
        margin: 20px 0 5px 0;
    }
    .field-text {
        max-width: 300px;
    }
    .image-upload {
        margin: 10px auto;
    }
}