.posts-page-container {
    display: flex;
    flex-direction: row;
    h2 {
        a {
            color: $white;
            margin: 0;
            padding: 10px;
            display: block;
            background: #2980b9;
            box-sizing: border-box;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .posts-container {
        flex: 0 1 auto;
        .post {
            padding: 10px;
            margin: 10px;
            .description-container {
                display: flex;
                flex-direction: row;
                .image-block {
                    flex: 0 1 auto;
                    img {
                        width: 100%;
                    }
                    .read-more {
                        display: block;
                        text-align: center;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }

            .additional-block {
                width: 65%;
                flex: 1 0 auto;
                padding-left: 10px;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                .description-block {
                    flex: 1 0 auto;
                }
                .action-block {
                    text-align: center;
                    flex: 0 0 auto;
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .posts-page-container {
        flex-direction: column-reverse;
        .post {
            .description-container {
                flex-direction: column !important;
                .additional-block {
                    width: 100% !important;
                    padding: 0;
                    margin: 10px 0;
                }
            }
        }
    }
}