.single-post-page-container {
    padding: 10px;
    margin-bottom: 20px;
    h2 {
        background: $mariner;
        padding: 10px;
        box-sizing: border-box;
        color: $white;
    }
    .description-container {
        .additional-block {
            .action-block {
                text-align: left;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .single-post-page-container {
        .description-container {
            flex-direction: column;
            .additional-block {
                width: 100% !important;
                padding: 0;
                margin: 10px 0;
            }
        }
    }
}