.single-post-page-container {
    padding: 10px;
    margin: 30px auto 20px;
    h2 {
        background: $mariner;
        padding: 10px;
        box-sizing: border-box;
        color: $white;
    }
    .description-container {
        .additional-block {
            .action-block {
                text-align: left;
            }
        }
    }
    .videos-container {
        display: flex;
        flex-direction: row;
        margin: 40px auto;
        .videos-wrapper {
            flex: 1 0 auto;
            position: relative;
            .video {
                text-align: center;
                position: relative;
                iframe {
                    max-width: 640px;
                }
                .video-bookmark {
                    position: absolute;
                    right: 35px;
                    top: 0;
                    .svg-icon {
                        width: 30px;
                        height: 30px;
                    }
                    &.active {
                        .svg-icon {
                            fill: $pomegranate;
                        }
                    }
                }
            }
            .video-loader-container {
                position: absolute;
                top: 0;
                width: 100%;
                height: 99.9%;
                z-index: -1;
                padding: 0 10.9%;
                box-sizing: border-box;
                .video-loader {
                    background: $black;
                    text-align: center;
                    color: $white;
                    height: 99%;
                    padding-top: 28%;
                    box-sizing: border-box;
                }
            }
        }
        .videos-navigation-wrapper {
            flex: 0 0 auto;
            max-height: 390px;
            .navigation-item {
                display: block;
                box-sizing: border-box;
                font-size: 1.2em;
                font-weight: 400;
                &:first-of-type {
                    margin: 0;
                }
                &.active {
                   background: $lynch;
                    cursor: default;
                    pointer-events: none;
                }
                &:hover {
                    text-decoration: none;
                }
            }
            &.overflow {
                overflow-y: scroll;
            }
        }
    }
}

@media screen and (max-width: 940px) {
    .single-post-page-container {
        .videos-container {
            flex-direction: column;
            .videos-wrapper {
                .video {
                    padding: 0 0 40px;
                    .video-bookmark {
                        top: inherit;
                        right: 0;
                        bottom: 0;
                    }
                }
                .video-loader-container {
                    height: 90.81%;
                    padding: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .single-post-page-container {
        .description-container {
            flex-direction: column;
            .additional-block {
                width: 100% !important;
                padding: 0;
                margin: 10px 0;
            }
        }
    }
}