.posts-page-container {
    display: flex;
    flex-direction: row;
    position: relative;
    .clear-search {
        position: absolute;
        top: 10px;
        left: 20px;
        .svg-icon {
            cursor: pointer;
            width: 17px;
            height: 17px;
            color: $pomegranate;
        }
    }
    h2 {
        a {
            color: $white;
            margin: 0;
            padding: 10px;
            display: block;
            background: $mariner;
            box-sizing: border-box;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .posts-container {
        flex: 0 1 auto;
        .post {
            padding: 10px;
            margin: 10px;
            .description-container {
                .description {
                    height: 200px;
                    overflow: hidden;
                    position: relative;
                    &:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: 50%;
                        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, .8));;
                    }
                }
            }
        }
    }
    .page-not-found {
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .posts-page-container {
        flex-direction: column-reverse;
        .post {
            .description-container {
                flex-direction: column !important;
                .additional-block {
                    width: 100% !important;
                    padding: 0;
                    margin: 10px 0;
                }
            }
        }
    }
}