.account-menu {
    flex: 0 0 auto;
    padding: 0 20px;
    margin-top: 50px;
    max-width: 1000px;
    box-sizing: border-box;
    a {
        color: #2c3e50;
        float: left;
        padding: 13px 5px;
        box-sizing: border-box;
        margin-right: 5px;
        &:hover,
        &.active {
            text-decoration: none;
            border-bottom: 1px solid #2c3e50;
        }
        &:last-of-type {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 650px) {
    .account-menu {
        padding: 0;
        .menu-wrapper {
            padding-top: 50px;
            a {
                float: none;
                display: block;
                padding: 13px 12px;
                margin: 0 10px;
            }
        }
        .menu-button {
            float: right;
            display: block;
            margin: 15px 20px;
        }
    }
}