.account-menu {
    flex: 0 0 auto;
    height: 50px;
    padding: 0 20px;
    margin-top: 50px;
    max-width: 1000px;
    box-sizing: border-box;
    a {
        color: #2c3e50;
        float: left;
        padding: 13px 5px;
        box-sizing: border-box;
        margin-right: 5px;
        &:hover,
        &.active {
            text-decoration: none;
            border-bottom: 1px solid #2c3e50;
        }
        &:last-of-type {
            margin-right: 0;
        }
    }
}