.header-container {
    margin-top: 50px;
    .header {
        flex: 0 0 auto;
        padding: 20px;
        height: 100px;
        background: $blizzardBlue;
        box-sizing: border-box;
        h1 {
            text-align: center;
            text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
        }
    }
    &.border {
        border-top: 1px solid rgba(0, 0, 0, .1);
    }
}