.pagination {
    text-align: center;
    margin-top: 80px;
    li {
        display: inline-block;
        margin: 0;
        border-bottom: none;
        a {
            color: $white;
            display: block;
            padding: 10px;
            background: $mariner;
            &:hover {
                text-decoration: none;
                background: $dustyGray;
            }
            .svg-icon {
                width: 16px;
                height: 16px;
                color: $white;
                vertical-align: middle;
            }
            &.next {
                .svg-icon {
                    transform: rotate(180deg);
                }
            }
        }

        &.active {
            a {
                background: $dustyGray;
                color: $iron;
                pointer-events: none;
                text-decoration: none;
            }
        }
    }
}