.description-container {
    display: flex;
    flex-direction: row;
    .image-block {
        flex: 0 1 auto;
        img {
            width: 100%;
            max-width: 276px;
            max-height: 400px;
        }
        .read-more {
            display: block;
            text-align: center;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .additional-block {
        width: 65%;
        flex: 1 0 auto;
        padding-left: 10px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        .description-block {
            .titles {
                margin-bottom: 10px;
                .additional-title {
                    font-size: .8em;
                    margin-bottom: 3px;
                }
            }
            flex: 1 0 auto;
            .tags {
                a {
                    font-size: .8em;
                    margin:0 5px;
                }
            }
            .description {
                white-space: pre-wrap;
            }
        }
        .action-block {
            text-align: center;
            flex: 0 0 auto;
            a {
                margin: 0 5px;
                .svg-icon {
                    width: 20px;
                    height:20px;
                }
            }
        }
    }
}
@media screen and (max-width: 500px) {
    .description-container {
        .image-block {
            img {
                max-width: inherit;
                max-height: inherit;
            }
        }
        .description-block {
            font-size: 1.2em;
        }
    }
}