.block-search {
    form {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 0;
        margin-left: 0;
        background: $white;
        line-height: normal;
        transition: margin-left .5s;
        z-index: -1;
        visibility: hidden;
        opacity: 0;
        &.show {
            z-index: 1;
            opacity: 1;
            visibility: visible;
            margin-left: -325px;
        }
        .field-text {
            margin: 0;
            height: 45px;
            input {
                &:focus,
                &:valid {
                    & ~ label {
                        transform: scale(.7);
                    }
                }
            }
        }
    }
    .toggle-search-button {
        height: 50px;
        cursor: pointer;
        box-sizing: border-box;
        .svg-icon {
            width: 20px;
            height: 20px;
            fill: $slateGray;
        }
    }
}
@media screen and (max-width: 500px) {
    .block-search {
        position: fixed;
        top: 0;
        right: 10px;
        form {
            position: fixed;
            right: 28px;
            width: 80%;
        }
    }
}