$white: #fff;
$black: #000;
$slateGray: #2c3e50;
$codGray: #161616;
$shark: #292c2f;
$dustyGray: #999;
$iron: #d2d6da;
$alto: #ddd;
$gallery: #eee;
$mariner: #2980b9;
$pomegranate: #f44336;
$blizzardBlue: #add5ef;
$oceanGreen: #42b983;
$lynch: #607d8b;